/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --text-color: #FFFFFF;
    --background-color: #343541;
    --chat-box-bg: #444654;
    --user-box-bg: #007bff;
    --ai-box-bg: #666;
    --border-color: #D9D9E3;
}

.light-mode {
    --text-color: #343541;
    --background-color: #FFFFFF;
    --chat-box-bg: #F7F7F8;
    --user-box-bg: #007bff;
    --ai-box-bg: #ddd;
}

body {
    background: var(--background-color);
}

/* Chat Container */
.chat-container {
    overflow-y: auto;
    max-height: 100vh;
    padding-bottom: 150px;
    color: var(--text-color);
}

/* Chat Messages */
.chat-box {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chat-box .user-box, .chat-box .ai-box {
    max-width: 80%;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    word-wrap: break-word;
}

.user-box {
    background: var(--user-box-bg);
    color: white;
    align-self: flex-end;
}

.ai-box {
    background: var(--ai-box-bg);
    color: white;
    align-self: flex-start;
}

/* Typing Container */
.typing-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 20px 10px;
    justify-content: center;
    background: var(--background-color);
    border-top: 1px solid var(--border-color);
}

.typing-container .typing-content {
    display: flex;
    max-width: 950px;
    width: 100%;
    align-items: flex-end;
}

.typing-textarea {
    width: 100%;
    display: flex;
    position: relative;
}

.typing-textarea textarea {
    resize: none;
    height: 55px;
    width: 100%;
    border: none;
    padding: 15px 45px 15px 20px;
    font-size: 1rem;
    border-radius: 4px;
    max-height: 250px;
    overflow-y: auto;
    background: var(--chat-box-bg);
    outline: 1px solid var(--border-color);
    color: white;
}

.typing-textarea textarea::placeholder {
    color: var(--text-color);
}

/* Buttons */
.typing-controls {
    display: flex;
    gap: 7px;
}

.typing-controls span {
    width: 55px;
    height: 55px;
    display: flex;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    font-size: 1.35rem;
    cursor: pointer;
    color: var(--text-color);
    background: var(--chat-box-bg);
    outline: 1px solid var(--border-color);
}

.typing-controls span:hover {
    background: #666;
}
